pre-commit
flake8==5.0.4
black
pytest==8.2.2
pytest-cov==5.0.0
mypy==1.11.1
docformatter
types-PyYAML
types-requests
confuse
websockets<11.0
nltk
joblib
pandas==2.2.2
git+https://github.com/iai-group/DialogueKit.git