pre-commit==3.8.0
flake8==5.0.4
black
pytest==8.2.2
pytest-cov==5.0.0
mypy==1.11.1
docformatter
types-PyYAML
types-requests
botocore>=1.29.29
wget
confuse
websockets<11.0
nltk
joblib
torch==2.0.1
openai==1.30.5
ollama==0.3.1
pandas==2.2.2
dialoguekit==0.1.1
scikit-learn >= 0.24
setuptools<=70.0.0